*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #212529;
}
header{
    width: 100%     ;
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(255, 2555, 255,0.7);
    transition: background-color 0.5s ease;
}
header .sticky{
    background-color: red;
}
header:hover{
    background: rgba(255, 2555, 255,1);
}
.logo{
    flex:2;
    justify-content: center;
}
.menu{
    flex:4;
    display: flex;
}
.menu li{
    margin: 0px 12px 0px 0px;
    padding: 15px 4px;
    position: relative;
}
.menu > li:hover .sub-menu{
    display: block;
}
.menu > li a{
    display: block;
    line-height: 20px;
    font-weight: bold;
}
.sub-menu ul{
    padding-left: 20px;
}
.sub-menu{
    display: none;
    line-height: 5px;
    position: absolute;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    z-index: 1;
    background: #fff;
}
.sub-menu > li a{
    font-weight: normal;
}
.orthers{
    flex:2;
    display: flex;
}
.orthers > li{
    padding: 0px 12px;
}
.orthers > li:first-child{
    position: relative;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
.orthers > li:first-child input{
    padding: 8px 8px 15px 35px;
    width: 100%;
    border: 1px solid #E7E8E9;
    background-color: rgba(255, 2555, 255,0.9);
    border-radius: 4px;
    height: 40px;
    font-weight: bold;


}
.orthers > li:first-child i{
    padding: 8px 8px 5px 5px;
    position: absolute;
    left: 10px ;
}
.orthers > li:not(:first-child) {
    padding: 12px 12px 0px 0px;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
}

.aspect-ratio-169 img  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container{
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot{
    height: 18px;
    width: 18px;
    background-color: #ccc;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}
/* --------------app----------------- */
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0px 50px 0;

}
.app-google{
    margin: 50px;
}
.app-google p{
    margin: 50px;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.app-google img{
    height: 50px;
    cursor: pointer;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.email-container{
    display: flex;
    justify-content: center;
}
.imp-email{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}
.send-email{
    align-items: center;
    width: 60px;
    height: 40px;
}
/* --------------footer----------------- */
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-bottom{
    text-align: center;
    margin: 20px 0;
}
.footer-center{
    text-align: center;
}
.cart
{
    padding: 100px 0;
}
.cart-top-wrap
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top
{
    height: 2px;
    width: 70%;
    background: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
.cart-top-item i
{
    color: #dddddd;
}
.cart-top-cart
{
    border: 1px solid #0DB7EA;
}
.cart-top-cart i
{
    color: #0DB7EA;
}
.cart-content-left
{
    padding-right: 12px;
}
.cart-content-left table
{
    width: 60%;
    text-align: center;
    float: left;
}
.cart-content-left table th
{
    padding-bottom: 30px;
    font-family: "Times New Roman";
    font-size: 12px;
    text-transform: uppercase;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left table p{
    font-family: "Times New Roman";
    font-size: 16px;
    color: #333333;
}
.cart-content-left table input
{
    width: 30px;
}
.cart-content-left table span
{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    cursor: pointer;
}
.cart-content-left table td{
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left td:first-child img
{
    width: 130px;
}
.cart-content-left td:nth-child(2)
{
    max-width: 130px;
}
.cart-content-left td:nth-child(3) img
{
    width: 60px;
}
.cart-content-right
{
    padding-left: 14px;
    border-left: 2px solid #dddddd;
}
.cart-content-right table
{
    width: 30%;
    float: right;
}
.cart-content-right table th
{
    padding-bottom: 30px;
    font-family: "Times New Roman";
    font-size: 14px;
    color: #333333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td{
    font-family: "Times New Roman";
    font-size:  14px;
    color: #333333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid#dddddd;
}
.cart-content-right tr td:last-child{
    text-align: right;
}
.cart-content-right-text
{
    margin: 20px 0;
    text-align: center;
    float: right;
}
.cart-content-right-text p{
    font-family:"Times New Roman";
    font-size: 14px;
    color: #333333;
    float: right;
}
.cart-content-right-button
{
    text-align: center;
    align-items: center;
    float:right;
}
.cart-content-right-button button
{
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-button button:first-child
{
    background: #ffffff;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover
{
    background: #dddddd;
}
.cart-content-right-button button:last-child
{
    background: black;
    color: #ffffff;
    border: none;
    border: 1px solid black;
}
.cart-content-right-button button:last-child:hover
{
    background: #dddddd;
    color: black;
}
.cart-content-right-dangnhap
{
    margin-top:20px;
    text-align: right;
}
.cart-content-right-dangnhap p{
    font-family: "Times New Roman";
    font-size: 12px;
    color: #333333;
}