*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #212529;
}
body{
    color: #6C6D70;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

main{
    padding-top: 80px;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-spacing: 0;
}

table, td{
    border: 1px solid #dee2e6;
}

table td{
    padding: 0.75rem;
    vertical-align: middle;
}

.container-thongtin{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 100%;
}

.dieuhuong-danhsach {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f7f8f9;
}

.dieuhuong-noidung {
    display: list-item;
}
  
.dieuhuong-noidung + .dieuhuong-noidung:before {
    content: "－\00a0";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 10px;
    margin-right: 16px;
    margin-left: 8px;
    color: #6c6d70;
}

.dieuhuong-noidung a {
    color: gray;
}
  
.dieuhuong-noidung a:hover {
    color: black;
}

.taikhoan-wrapper{
    margin-top: 28px;
    margin-bottom: 64px;
}

.taikhoan-wrapper-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.taikhoan-caidat{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.taikhoan-caidat-menu {
    max-width: 270px;
    width: 100%;
    padding: 32px;
}

.duong-vien {
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
}

.taikhoan-caidat-menu-user {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.taikhoan-caidat-menu-user-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.taikhoan-caidat-menu-user-name{
    padding-left: 20px;
}

.taikhoan-caidat-menu-user-name p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.taikhoan-caidat-menu-luachon li {
    margin-top: 32px
}

.taikhoan-caidat-menu-luachon li a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
}

.taikhoan-caidat-menu-luachon li.active a {
    color: #221f20;
}

.taikhoan-caidat-menu-luachon li a span {
    flex: 0 0 13px;
    max-width: 13px;
    margin-right: 12px;
    color: #808285;
}

.taikhoan-thongtin{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.taikhoan-thongtin-tieude {
    display: flex;
    align-items: center;
}

.taikhoan-thongtin-tieude h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #221f20;
    display: flex;
    align-items: center;
}

.taikhoan-thongtin-noidung {
    margin-top: 32px;
    width: 100%;
}

.taikhoan-thongtin-noidung-canhbao {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.taikhoan-thongtin-noidung-rows{
    display: flex;
}

.taikhoan-thongtin-noidung-row-1{
    position: relative;
    padding: 0.75rem 1.25rem;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

input[type=text]{
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    color: #57585A;
    font-family: Arial, sans-serif;
}

#khachhang_email{
    background-color:white;
}

.row-form-noidung, .row-form-noidung-radio {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1rem;
}

.row-form-noidung .col-label, .row-form-noidung-radio .col-label {
    max-width: 150px;
    flex-basis: 0;
    flex-grow: 1;
}

.row-form-noidung .col-label label, .row-form-noidung-radio .col-label label {
    font-size: 14px;
    line-height: 16px;
    color: #3e3e3f;
}

.row-form-noidung .col-input, .row-form-noidung-radio .col-input {
    max-width: 550px;
    flex-basis: 0;
    flex-grow: 1;
}

.form-input{
    width: 100%;
    background-color: #f7f8f9;
}

.form-input:disabled{
    font-weight: 700;
}

.form-input-radio-label{
    font-size: 14px;
    line-height: 16px;
    color: #221f20;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
}

.form-radio input:checked ~ .form-input-radio-label{
    font-weight: 700;
}

.taikhoan-noidung-button-caidat{
    display: flex;
    align-items: center;
}

.button{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    color: white;
    padding: 16px 32px;
    display: inline-block;
    margin: 4px 0;
    transition-duration: 0.15s;
    cursor: pointer;
}

.button-update{
    background-color: black; 
    color: white; 
    border: 1px solid transparent;
    border-radius: 16px 0px;
    margin-right: 16px;
}

.button-update:hover{
    background-color: white; 
    color: black; 
    border: 1px solid black;
}

.button-password{
    background-color: white; 
    color: black; 
    border: 1px solid black;
    border-radius: 16px 0px;
}

.button-password:hover{
    background-color: black; 
    color: white; 
    border: 1px solid transparent;
}

.taikhoan-thongtin-noidung-row-2{
    position: relative;
    padding: 0.75rem 0;
    padding-left: 1rem;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.taikhoan-thongtin-bang td {
    text-align: center;
}
